header {
  background-color: blue;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/*Gives font to the header*/
h1 {
    font-family: 'Times New Roman', Times, serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: red;
  font-size: xx-large;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.header header {
	background-image: url("JapanSceneryEdit.jpeg");
	text-shadow: 2px 2px black;
}

div.head1 header {
	background-color: gray;
	padding: 2px;
	text-align: center;
	font-size: 35px;
	color: white;
	text-shadow: 1px 1px black;
}
div.header h1 {
	color: red
}
h3 {
	color: red
}
table {
	border: 1px solid black;
	width: 100%
}
th {
	border: 1px solid black;
	font-size: 25px;
	text-align: center;
	background-color: yellow;
	padding: 5px;
}
td {
	border: 1px solid black;
	font-size: 20px;
	background-color: white;
	padding: 5px;
}
div.intro {
	width:100%;
	overflow:auto;
	padding: 5px;
	font-size: 30px;
	color: red;
}
div.intro div {
	width:50%;  
	float:left;
}
div.intro h1 {
	margin: 20px;
	text-shadow: 1px 1px black;
}
div.intro p {
	margin: 30px;
	font-size: 20px;
	text-shadow: 1px 1px black;
}
footer {
	background-color: gray;
	padding: 2px;
	color: white;
	text-shadow: 1px 1px black;
}
