header {
  background-color: blue;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/*Gives font to the header*/
h1 {
    font-family: 'Times New Roman', Times, serif;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: red;
  font-size: xx-large;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
